<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>587839765952-ni35tmv8jrqto75r0342g3ob0lpu8pco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587839765952-ni35tmv8jrqto75r0342g3ob0lpu8pco</string>
	<key>API_KEY</key>
	<string>AIzaSyDjYb5qDEsGtYJnYvldohcSHZtq-zOnpRc</string>
	<key>GCM_SENDER_ID</key>
	<string>587839765952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.iOSV1</string>
	<key>PROJECT_ID</key>
	<string>prana-4be90</string>
	<key>STORAGE_BUCKET</key>
	<string>prana-4be90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:587839765952:ios:836b73dde0e8eab8</string>
	<key>DATABASE_URL</key>
	<string>https://prana-4be90.firebaseio.com</string>
</dict>
</plist>